<form [formGroup]="form" (ngSubmit)="handleSubmission()" *ngIf="form">
  <div class="form-group" formGroupName="assignAdministrationAccess">
    <!-- <label>Assign administration access</label>
    <input
      type="checkbox"
      id="submissionOfActivities"
      name="administrationAccesses"
      value="Submission of activities"
      formControlName="submissionOfActivities"
    />
    <label>Submission of activities</label>
    <input
      type="checkbox"
      id="setUpOfChallenges"
      name="administrationAccesses"
      value="Set up of challenges"
      formControlName="setUpOfChallenges"
    />
    <label>Set up of challenges</label>
    <input
      type="checkbox"
      id="sendCommunications"
      name="administrationAccesses"
      value="Send communications"
      formControlName="sendCommunications"
    />
    <label>Send communications</label>
    <input
      type="checkbox"
      id="accessCommunicationLibrary"
      name="administrationAccesses"
      value="Access communication library"
      formControlName="accessCommunicationLibrary"
    />
    <label>Access communication library</label> -->
    <div *ngFor="let item of assignAdministrationAccessArray">
      <input
        type="checkbox"
        name="administrationAccesses"
        [value]="item.value"
        [formControlName]="item.formControlName"
      />
      <label>{{ item.value }}</label>
    </div>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
